* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: url("../p4_drumkit/my\ drum1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid darkorange;
  padding: 0.3rem 1.3rem;
  color: darkorange;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0.3rem;
}
button:hover,
button:active,
button.active {
  border-color: rgb(209, 223, 15);
  box-shadow: 0 0 20px rgb(209, 223, 15);
}
button span:nth-child(2) {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(209, 223, 15);
}
