* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  --StrongCyan: hsl(171, 66%, 44%);
  --LightBlue: hsl(233, 100%, 69%);
  --DarkGrayishBlue: hsl(210, 10%, 33%);
  --GrayishBlue: hsl(201, 11%, 66%);
}
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
  color: var(--VeryDarkBlue);
}

p {
  color: var(--GrayishBlue);
}

.top {
  padding: 1rem;
  /* display: flex; */
  align-items: center;
  gap: 1rem;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
}

.logo {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("./images/bg-header-mobile.png");
  background-repeat: none;
  background-position: center;
  padding: 1rem;
  gap: 2rem;
}

.Download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  text-align: center;
  align-items: center;
}
.green {
  display: flex;
  justify-content: center;
  background-color: var(--StrongCyan);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  max-width: max-content;
}
.blue {
  background-color: var(--LightBlue);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  max-width: max-content;
}

.tracker .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  gap: 1.5rem;
}

.tracking {
  padding: 2rem;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.alltracking {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
.trackingnote {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  padding: 1rem;
}

.access .container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: red;
}
.accesscard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}
/* .workflow.container {
  align-items: center;
  padding: 1rem;
  text-align: center;
} */

.flow {
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.blacklist {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
}

.snippets {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}
.sneak {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.google .container {
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 2rem;
}

.ibmgoogle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 2rem;
}
.clipboard {
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
}
.clips {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.Downll {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.iOS {
  background-color: var(--StrongCyan);
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: white;
  box-shadow: 0 5px 5px var(--StrongCyan);
  transition: box-shadow 0.9s;
}
.iOS:hover {
  box-shadow: 0 3px -3px var(--StrongCyan);
}
.Mac {
  background-color: var(--LightBlue);
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: white;
  box-shadow: 0 5px -3px var(--LightBlue);
  transition: box-shadow 0.9s;
  /* max-width: max-content; */
}

.Mac:hover {
  box-shadow: 0 5px rgb(75, 75, 206);
  transition: 0.9s;
}

.closure {
  background-color: lightgray;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.closure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 2rem;
}

.closing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.media {
  display: flex;
  gap: 3rem;
  padding: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .Download {
    display: flex;
    flex-direction: row;
  }

  .track {
    display: flex;
    flex-direction: column;
  }
  .alltracking {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .trackingnote h2 {
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  .flowing {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
  }

  .ibmgoogle {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
  }
  .Downll {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
  }

  .closure {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .closing {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: row;
  }

  .dsd {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
