* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --lightness: 59%;
  --BrightRed: hsl(12, 88%, 59%);
  --BrightRedLight: hsl(12, 88%, 89%);
  --DarkBlue: hsl(228, 39%, 23%);
  --DarkGrayishBlue: hsl(227, 12%, 61%);
  --VeryDarkBlue: hsl(233, 12%, 13%);
  --VeryPaleRed: hsl(13, 100%, 96%);
  --VaryLightGray: hsl(0, 0%, 98%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--DarkBlue);
  font-weight: 600;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(--DarkGrayishBlue);
  line-height: 1.5;
}
button {
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  background-color: var(--BrightRed);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}

.btn:hover {
  opacity: 0.9;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
  color: var(--VeryDarkBlue);
}

header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-image: url("./images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 120% -20%;
  min-height: 500px;
}
.top {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.logo,
#mobile-menu-button {
  position: relative;
  z-index: 9991;
}

header div.wrapper {
  position: fixed;
  background-color: rgba(27, 26, 26, 0.123);
  left: 0;
  right: 0;
  top: -100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  transition: top 0.5s;
  z-index: 999;
}

div.wrapper.show {
  top: 0;
  bottom: 0;
}

nav {
  background-color: white;
  width: 100%;
  max-width: 300px;
  border-radius: 0.5rem;
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--DarkBlue);
}

nav a {
  font-weight: 500;
}

.top .btn {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
}

.hero .contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}

.hero .container h1 {
  line-height: 0.5;
}

.hero .info {
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.about .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.about .left {
  text-align: center;
}

.about .left h2 {
  font-size: 2rem;
  line-height: 1.3;
}

.items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.items li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.items li span {
  background-color: var(--BrightRed);
  color: white;
  display: grid;
  place-items: center;
  border-radius: 2rem;
  font-weight: 700;
  height: 40px;
  width: 60px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.items li div {
  padding-top: 1rem;
}

.items li h5 {
  --lightness: 89%;
  background-color: var(--BrightRedLight);
  font-size: 1rem;
  padding-block: 0.4rem;
  padding-inline: 3rem 4rem;
  position: absolute;
  right: -20px;
  top: 2px;
  left: 20px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 4rem;
}
.testimonial .swiper {
  width: 100%;
}
.testimonial .cards_wrapper {
  max-width: 100%;
  overflow-x: auto;
  cursor: grab;
  padding-top: 60px;
  position: relative;
}

.testimonial .cards_wrapper::-webkit-scrollbar {
  display: none;
}

.testimonial .cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* gap: 3rem; */
}

.testimonial .card {
  /* width: 95%; */
  /* max-width: 375px; */
  background-color: var(--VaryLightGray);
  padding: 2rem 1rem;
  flex-shrink: 0;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.testimonial .card img {
  width: 60px;
  margin-top: -56px;
}

.slider-mobile-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.slider-mobile-pagination span {
  border: 1px solid var(--BrightRed);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-mobile-pagination .swiper-pagination-bullet-active {
  background-color: var(--BrightRed);
}

@media screen and (min-width: 768px) 
{
  header {
    background-size: 45%;
    background-position: 110% -40%;
  }
  #mobile-menu-button {
    display: none;
  }
  header div.wrapper {
    position: static;
    background-color: transparent;
    padding-top: 0;
  }
  nav {
    flex-direction: row;
    text-align: left;
    background-color: transparent;
    max-width: none;
    padding-block: 0;
  }
  nav a {
    font-weight: 400;
    transition: opacity 0.3s;
  }
  nav a:hover {
    opacity: 0.6;
  }
  .top .btn {
    display: block;
  }

  .hero {
    flex-direction: row;
  }
  .hero .contents {
    align-items: flex-start;
    text-align: left;
  }
  .hero .contents h1 {
    font-size: 2.5rem;
  }
  .hero .contents,
  .hero .info {
    flex: 1;
  }

  .about {
    padding-block: 7rem;
    background-image: url("./images/bg-tablet-pattern.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: -50px bottom;
  }
  .about .container {
    flex-direction: row;
    gap: 2rem;
  }
  .about .left {
    text-align: left;
  }

  .items li {
    flex-direction: row;
    gap: 1rem;
  }
  .items li span {
    border-radius: 50%;
    width: 40px;
    flex-shrink: 0;
  }

  .items li div {
    padding-top: 0;
  }
  .items li h5 {
    background-color: transparent;
    padding-block: 0;
    padding-inline: 0;
    position: static;
  }
}

@media screen and (min-width: 1024px) {
  header {
    background-size: 40%;
  }
  .hero .contents h1 {
    font-size: 3rem;
  }
  .about {
    background-size: 20%;
  }
}

@keyframes jump {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
  }
}
