.ab {
  color: blue;
  text-decoration-line: blue;
  text-decoration: underline;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#ne {
  color: red;
  background-color: rgb(172, 165, 165);
  text-align: center;
}
#green {
  background-color: rgb(141, 241, 141);
  color: blue;
  text-decoration: underline;
  text-decoration-color: blue;
}
