div {
  /* background-color: lightgreen; */
}
#ctrying {
  bakground-color: rgb(16, 235, 16);
}
span {
  color: red;
}
* {
  background-color: aqua;
  font-size: larger;
  font-weight: 200;
  font-display: 20;
}
