* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
img {
  /* max-width: 100%;
    display: block; */
}
.image {
  border-radius: 50px;
  width: 35px;
  height: 35px;
}
button {
  padding: 1rem;
  border-radius: 30px;
  background-color: hotpink;
  border: none;
  cursor: pointer;
  gap: 1rem;
}
h2 {
  padding: 1rem;
  background-color: rgb(9, 88, 15);
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  border-color: rgb(218, 14, 14);
  box-shadow: 0 5px 5px rgb(126, 9, 63);
  transition: box-shadow 0.9s;
}
h2:hover {
  box-shadow: 3px -3px 5px rgb(4, 74, 121);
}
p {
  align-items: center;
}
.cos {
  padding: 1rem;
  color: white;
  text-decoration: none;
  background-color: black;
  border-radius: 50px;
}
.topmost:hover {
  color: darkblue;
}
.topmost {
  background-color: palegoldenrod;
  padding: 0.3rem;
}
nav.wrapper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding: 0.7rem;
  background-color: palegoldenrod;
}
a {
  text-decoration: none;
}
.hero {
  background-image: url("../ImagePage/Gclass.jpg");
  /* background-color: palegoldenrod;
    background-blend-mode: multiply; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: white; */
  padding: 2rem;
}
.story {
  background-color: rgb(9, 88, 15);
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  border-color: rgb(218, 14, 14);
  box-shadow: 0 5px 5px rgb(241, 16, 121);
  transition: box-shadow 0.9s;
}
.story:hover {
  box-shadow: 3px -3px 5px rgb(4, 74, 121);
}
.green {
  color: green;
  border-radius: 0.7rem;
}
.white {
  color: white;
}
.bnn {
  max-width: 550px;
  text-align: center;
}
