th {
  background-color: red;
  color: white;
  border-color: red;
}
* {
  /* background-color: red;
  color: white;
  border: 1; */
}
#green {
  background-color: green;
  color: white;
  text-align: center;
}
#blue {
  background-color: blue;
  color: white;
}
#yell {
  background-color: orange;
  color: white;
}
#jonjo {
  background-color: red;
  color: red;
}
