*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins"Rubik,sans-serif;
}
:root {
--Softorange: hsl(35, 77%, 62%);
--Softred: hsl(5, 85%, 63%);
--Offwhite: hsl(36, 100%, 99%;)
--Grayishblue: hsl(233, 8%, 79%);
--Darkgrayishblue: hsl(236, 13%, 42%);
--Verydarkblue: hsl(240, 100%, 5%);
}
img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

p {
    color:var(--Darkgrayishblue);
}

.container {
    width: 100%;
    max-width: 1024px;
    margin-inline: auto;
  }
  .Top {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    align-items: center;
  }

  body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    max-width: 100vw;
    color: var(--Offwhite);
 }

  
  header{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
      }

.logo, #icon-menu {
  position: relative;
  z-index: 9991;
}


div.wrapper {
    position: fixed;
    background-color: rgba(27, 26, 26, 0.123);
    left: 0;
    right: 0;
    top: -100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
  transition: top 0.5s;
  z-index: 999;
}


div.wrapper.show {
    top: 0;
    bottom: 0;
  }


  nav {
   background-color:var(--Offwhite);
   width: 100%;
   max-width: 300px;
   border-radius: 0.5rem;
   display: flex;
   padding: 1rem 1rem;
   flex-direction: row;
   gap: 1rem;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: var(--Darkgrayishblue);

  }


  nav a {
    font-weight: 500;
  }

  .hero {
    display: flex;
    flex-direction: column;
      justify-content: center;
     padding: 1rem;
     gap: 1.5rem;
     align-items: center;
  }

  .herotwo{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    /* margin-top: -8rem; */
  }

  h1{
    padding: 1rem;
  }
  .write{
    margin-inline:2rem ;
    text-wrap:yes;
  }

  .readmore {
  background-color: var(--Softred);
  max-width: max-content;
  color: white;
  padding: 0.5rem 1rem;
  gap: 2rem;
  margin-top: 1rem;
   }


  .contents h2{
    padding: .5rem;
  }

  .contents {
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: var(--Verydarkblue);
    max-width: 300px;
  }
  .New {
    padding: .5rem;
    color: var(--Offwhite);
    margin-inline: 1rem;
  }
  .contents h1{
  color: var(--Softorange);
  padding: 0.5rem;
  }
  .Revivings{
    padding: 1.5rem;
    display: flex;
    flex-direction:column;
  }
  .revive{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    flex-direction: ;
  }
  span{
  font-size: 5cqmax;
  }

  @media screen and (min-width: 768px) {
    
    header {
      background-size: 45%;
      /* background-position: 110% -40%; */
    }

    nav {
      background-color:var(--Offwhite);
    width: 100%;
    max-width: 300px;
  border-radius: 0.5rem;
  display: flex;
  padding: 1rem 1rem;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--Darkgrayishblue);
    }

    div.wrapper {
      position: static;
      background-color: transparent;
      padding-top: 0;
    }
 .hero{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
 }

 .herotwo{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  margin-top: -8rem;
}

.reviver{
  display: flex;
  flex-direction: row;
}
 
  }
    
  