*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik"poppins;
}
:root {
    --Softorange: hsl(35, 77%, 62%);
    --Softred: hsl(5, 85%, 63%);
    --Offwhite: hsl(36, 100%, 99%;)
    --Grayishblue: hsl(233, 8%, 79%);
    --Darkgrayishblue: hsl(236, 13%, 42%);
    --Verydarkblue: hsl(240, 100%, 5%);
    }
    
    img{
        display: flex;
        max-width: 100%;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    p {
        color:var(--Darkgrayishblue);
    }

    .container {
        width: 100%;
        max-width: 1024px;
        margin-inline: auto;
      }
      .top{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        align-items: center;
      }
       
      body {
        width: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        max-width: 100vw;
        color: var(--Offwhite );
      }

      header{
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      div.wrapper.show {
        top: 0;
        bottom: 0;
      }

      nav{
        display: flex;
        gap: 1rem;
        color:var(--Darkgrayishblue);;

      }

      nav a {
        font-weight: 500;
      }

      .hero{
        display: flex;
        gap: 2rem;
        padding: 1rem;
      }

      .contentright {
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        background-color: var(--Verydarkblue);
        max-width: 200px;
      }

      .New {
        padding: .5rem;
    color: var(--Offwhite);
      }
      .contentright h1{
        color: var(--Softorange);
      }
