* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --DarkBluesignup: hsl(217, 28%, 15%);
  --DarkBlueBg: hsl(218, 28%, 13%);
  --DarkBlueFooter: hsl(216, 53%, 9%);
  --DarkBluetest: hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  --LightRed: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
}

.Top {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
}

.logo {
  align-items: flex-start;
  display: flex;
  width: 90px;
  /* padding-left: -3rem; */
}

.logo img {
  max-width: 100%;
}

ul {
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem;
  align-items: flex-end;
}

header {
  background-color: var(--DarkBluesignup);
  /* height: 74px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--White);
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
  background-color: var(--DarkBlueBg);
}

.hero {
  background: url("./images/bg-curvy-mobile.svg"),
    url("./images/illustration-intro.png");
  background-repeat: no-repeat;
  background-position: center, 99% 14%;
  background-size: contain, 90%;
  min-height: 800px;
  padding: 2rem;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  color: var(--White);
  background-color: hsl(216, 53%, 9%);
  margin-top: -5rem;
}

.heronote {
  margin-top: 2rem;
  background-color: hsl(216, 53%, 9%);
}

.heronote p {
  padding: 1rem;
}

.getstarted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1.5rem;
  padding: 0.6rem 1rem;
  border-radius: 1.5rem;
  /* background: linear-gradient(to right, var(--Blue), var(--DarkBlue)); */
  background-color: var(--Blue);
}

.accessfiles {
  align-items: center;
  text-align: center;
  padding: 1rem;
  color: inherit;
  background-color: hsl(216, 53%, 9%);
}

.fileswrap {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 1.5rem;
}

.images {
  padding: 3rem;
}

.fileswrap p {
  padding: 1rem;
}

.xyz {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
}

.xyz img {
  align-items: center;
  height: 300px;
  padding: 1rem;
}

.notexyz {
  align-items: center;
  text-align: center;
  color: var(--White);
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

/* .collaboration {
  background: url("./images/illustration-stay-productive.png");
  background-position: center, 110% -20%;
  background-size: contain, 75%;
  background-repeat: no-repeat;
  min-height: 400px;
  padding: 1rem;
}

.collaboration p {
  align-items: flex-start;
  text-align: left;
  display: flex;
} */

.seehow {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--Cyan);
  gap: 0.5rem;
}

ul {
  list-style: none;
  color: inherit;
}

span {
  position: relative;
  font-size: 70px;
  color: var(--Cyan);
  align-items: start;
  text-align: left;
}

.reviews {
  display: flex;
  flex-direction: column;
  color: var(--White);
}

.reviews li {
  padding: 1rem;
}

.reviewwrap {
  display: flex;
  flex-direction: column;
}

.testimonial {
  background-color: var(--DarkBluetest);
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardnote {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
}

.profilepics img {
  border-radius: 50px;
  height: 35px;
  width: 35px;
}

.calltoaction {
  margin-top: 4rem;
  padding: 1rem;
  color: inherit;
}

.accesstoday {
  color: var(--White);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 2rem;
}

.www {
  background-color: var(--DarkBluetest);
  padding: 1rem;
  margin-bottom: -4rem;
}

.early {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.respond {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.respondone {
  border-radius: 2rem;
  background-color: var(--White);
  padding: 1rem;
  max-width: max-content;
  color: grey;
}

.respondtwo {
  border-radius: 2rem;
  background-color: var(--Cyan);
  padding: 1rem;
  max-width: max-content;
}

footer {
  background-color: var(--DarkBlueFooter);
  padding: 1rem;
  color: inherit;
}

.contentfooter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--White);
  padding: 1.5rem;
}

.location {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem;
}

.footlinks {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

@media screen and (min-width: 768px) {
  .Top {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    gap: 2rem;
  }

  header {
    background-color: var(--DarkBluesignup);
    height: 74px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    color: var(--White);
  }

  .hero {
    background: url("./images/bg-curvy-desktop.svg"),
      url("./images/illustration-intro.png");
    background-repeat: no-repeat;
    background-position: center, 50% 10%;
    background-size: contain, 45%;
    min-height: 850px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    color: var(--White);
    background-color: hsl(216, 53%, 9%);
    align-items: center;
    text-align: center;
  }
  .heronote {
    padding: 2rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .getstarted {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    padding-inline: 3.5rem 3.5rem;
    border-radius: 2.5rem;
    /* background: linear-gradient(to right, var(--Blue), var(--DarkBlue)); */
    background-color: var(--Blue);
    max-width: max-content;
  }

  .filewrapcol {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }
  .seehow {
    display: none;
  }

  /* .collaboration {
    background: url("./images/illustration-stay-productive.png");
    background-position: center, 110% -20%;
    background-size: contain, 75%;
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 1rem;
  } */

  /* .collaboration p {
    align-items: flex-start;
    text-align: left;
    display: flex;
  } */
  .notexyz {
    align-items: center;
    text-align: center;
    color: var(--White);
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .xyz {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
  }
  .reviews {
    display: flex;
    flex-direction: row;
    color: var(--White);
  }

  .respond {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .respondone {
    border-radius: 2rem;
    background-color: var(--White);
    padding-inline: 8rem;
    max-width: max-content;
    color: rgb(231, 119, 119);
  }

  .contentfooter {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: var(--White);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .footlinks {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
  }

  .footlink {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .Top {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    gap: 2rem;
  }

  header {
    background-color: var(--DarkBluesignup);
    height: 74px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--White);
  }

  .hero {
    background: url("./images/bg-curvy-desktop.svg"),
      url("./images/illustration-intro.png");
    background-repeat: no-repeat;
    background-position: center, 50% 10%;
    background-size: contain, 45%;
    min-height: 850px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    color: var(--White);
    background-color: hsl(216, 53%, 9%);
    align-items: center;
    text-align: center;
  }
  .heronote {
    padding: 2rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .getstarted {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    padding-inline: 3.5rem 3.5rem;
    border-radius: 2.5rem;
    /* background: linear-gradient(to right, var(--Blue), var(--DarkBlue)); */
    background-color: var(--Blue);
    max-width: max-content;
  }

  .filewrapcol {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }
  .seehow {
    display: none;
  }

  /* .collaboration {
    background: url("./images/illustration-stay-productive.png");
    background-position: center, 110% -20%;
    background-size: contain, 75%;
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 1rem;
  } */

  /* .collaboration p {
    align-items: flex-start;
    text-align: left;
    display: flex;
  } */
  .notexyz {
    align-items: center;
    text-align: center;
    color: var(--White);
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .xyz {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
  }
  .reviews {
    display: flex;
    flex-direction: row;
    color: var(--White);
  }

  .respond {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .respondone {
    border-radius: 2rem;
    background-color: var(--White);
    padding-inline: 8rem;
    max-width: max-content;
    color: rgb(231, 119, 119);
  }

  .contentfooter {
    display: flex;
    flex-direction: row;
  }
}
